UFCL31/L31/src/triangle.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="triangle">
    <xs:sequence>
      <xs:element name="a" type="xs:double"/>
      <xs:element name="b" type="xs:double"/>
      <xs:element name="c" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

